<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Gruppe 5">
    <link rel="icon" href="/favicon.ico">

    <title>Pan-De-Mix</title>

    <!-- Bootstrap core CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
	

    <!-- Custom styles for this template -->
    <link href="../static/css/custom.css" rel="stylesheet">
  </head>


    {% if status == 1 %}
    <body style="background-color: orange; text-align: center;" class="justify-content-center mt-4"> 
        <h1>Dispenser needs batter</h1>

        <button type="button" id="resetSystemStatus" class="btn btn-secondary" data-dismiss="modal">Reset indicator</button>
    {% elif status == 0 %}
    <body style="background-color: greenyellow; text-align: center;" class="justify-content-center mt-4"> 
        <h1>Dispenser is filled</h1>
    {% else %}
    <body style="background-color: red; text-align: center;" class="mt-4"> 
        <h1>ERROR</h1>
    {% endif%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/maintenance.js"></script>
	
  </body>
</html>
