
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Gruppe 5">
    <link rel="icon" href="/favicon.ico">

    <title>Pan-De-Mix - Waiting</title>
	

    <!-- Custom styles for this template -->
    <link href="../static/css/waiting.css" rel="stylesheet">

  </head>

  <div id="waiting"></div>
    
  <script src="../static/js/waiting.js"></script>
  </body>
</html>
