/* Variables */
:root {
  --header-height: 60px;
  --footer-height: 80px;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: var(--footer-height);
  line-height: var(--footer-height); /* Vertically center the text there */
  background-color: #B45326;;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

html {
  min-height: 100%;
  position: relative; /* For sticky footer */
}
body {
  /* Margin bottom by footer height */
  margin-bottom: var(--footer-height);
  background-color: #FFF2A4;
  color: #373A3C;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container img{
  max-width: 85%;
  max-height: 70px;
}

.custom_logo {
  max-height: 35vw;
}

@media (max-height: 800px){
  .custom_logo {
    max-height: 20vw;
  }
}

/* Pancake Button
-------------------------------------------------- */
.pancake-button {
  max-width: 80vw;
  max-height: 50vh;
}

@media (max-height: 800px){
  .pancake-button{
    max-width: 60vw;
    max-height: 40vh;
  }
}

/* System status
-------------------------------------------------- */
#system_status {
  font-size: 1rem;
  color: #55595C;
}

.navbar {
  min-height: var(--header-height);
  background-color: #B45326;
  display:block;
}

/* Action text
-------------------------------------------------- */
.action_text {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Delivery time
-------------------------------------------------- */
#delivery_time {
  text-align: center;
}

/* HAMBURGER CSS 
-------------------------------------------------- */
/* Modified from: https://codepen.io/mranenko/pen/wevamj */

/* nav toggle */
.nav-toggle {
  cursor: pointer;
  top: 0.8rem;
  left: 85vw;
  position: fixed;
  font-weight: 800;
  height: 1.5rem; /* Defines area you can press.*/
  z-index: 2;
}

#nav-icon {
  font-size: 2rem;
  color: #DAA992;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition:all 1s;
}

/* nav */
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #ECA24D;
  color: #373A3C;
  height: calc(100vh - var(--header-height) - var(--footer-height)); /* Fucking sexy */
  margin-top: var(--header-height); /* Push down a bit */
  left: -100vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.nav.expanded {
  left: 0;
  padding: 0;
}
.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_header {
  font-size: 1.25rem;
  font-weight: bold;
  flex-direction: column;
}

.nav_styling{
  width: 100%;
}

.nav_styling h1{
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 2vh;
}

.nav_styling p{
  text-align: center;
  padding-left: 7vw;
  padding-right: 7vw;
  margin-bottom: 0px;
  font-size: 1rem;
}
@media (max-height: 800px){
  .nav_styling p{
    font-size: 0.8rem;
  }
  .nav_styling h1{
    font-size: 1rem;
  }
}

.nav_styling img{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#nav_logo{
  margin-top:1.5rem;
}
#nav_pancake {
  margin-top: -1.1vh;
  max-height: 10vh;
  max-width: 10vh;
}
@media (max-height: 800px){
  #nav_pancake {
    display:none;
  }
}

/* Modal confirmation box 
-------------------------------------------------- */
.modal-header h2 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 2rem;
}

.modal-content {
  background-color: #FFF2A4;
  border-radius: 1rem;
}
.btn-success {
  background-color: #75F676;
  border-color: #B45326;
}

.btn-danger{
  background-color: #F67675;
  border-color: #B45326;
}
.modal-footer {
  border: none;
  justify-content: center;
}

.modal-header{
  border: none;
  padding: none;
}

.modal-header .close {
  padding: 1rem 1rem 0rem 0rem;
  margin-left: -1rem;
}

.modal-body p{
  text-align: center;
}